Repository DFPMTS/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chenguokai, @ssszwic, @eastonman, @Gao-Zeyu, @linjuanZ, @happy-lx, @bosscharlie, @good-circle, @cebarobot, @Lemover, @Maxpicca-Li, @cz4e, @weidingliu, @Ivyfeather

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @chenguokai
src/main/scala/xiangshan/frontend/icache @chenguokai @ssszwic
src/main/scala/xiangshan/frontend/IFU.scala @chenguokai @ssszwic
src/main/scala/xiangshan/frontend/BPU.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/Composer.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/FauFTB.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/Frontend.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/FrontendBundle.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/FTB.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/IBuffer.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/ITTAGE.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/newRAS.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/SC.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/Tage.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/WrBypass.scala @chenguokai @eastonman
src/main/scala/xiangshan/frontend/NewFtq.scala @chenguokai @Gao-Zeyu
src/main/scala/xiangshan/frontend/PreDecode.scala @chenguokai @ssszwic

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @happy-lx @bosscharlie @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @Lemover
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @bosscharlie @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @cz4e @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @cz4e @happy-lx @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ @Ivyfeather
src/main/scala/xiangshan/XSTile.scala @linjuanZ @Ivyfeather

coupledL2/ @linjuanZ @Ivyfeather
huancun/ @linjuanZ @Ivyfeather

feat(ECC): add ECC for coupledL2 and bump coupledL2
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/L2Top.scala
Owners: @linjuanZ, @Ivyfeather

feat(ittag): Split the target into entries without storing high bits to reduce the area.
  src/main/scala/xiangshan/frontend/ITTAGE.scala
Owners: @chenguokai, @eastonman

fix(trace): fix signal toEncoder in Trace
  src/main/scala/xiangshan/backend/trace/Trace.scala
Owners: none

feat(trace): add TraceCoreInterface in top.
  src/main/scala/system/SoC.scala
  src/main/scala/top/Top.scala
  src/main/scala/top/XSNoCTop.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/XSTile.scala
  src/main/scala/xiangshan/XSTileWrap.scala
  src/main/scala/xiangshan/backend/trace/Trace.scala
  src/test/scala/top/SimTop.scala
Owners: @linjuanZ, @Ivyfeather

feat(trace): add trace buffer.
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/fu/CSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/wrapper/CSR.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/backend/rob/RobBundles.scala
  src/main/scala/xiangshan/backend/trace/Interface.scala
  src/main/scala/xiangshan/backend/trace/Trace.scala
  src/main/scala/xiangshan/backend/trace/TraceBuffer.scala
Owners: none

fix(trace): fix itype for branch & jump inst
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/backend/trace/Interface.scala
Owners: none

feat(trace): remove useless code & fix trap update in trace.
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/fu/wrapper/CSR.scala
  src/main/scala/xiangshan/backend/trace/Trace.scala
Owners: none

fix(trace): fix ftqoffset in commitInfo for fuse instruction
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(trace): fix width of iaddr
  src/main/scala/system/SoC.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/trace/Trace.scala
Owners: none

fix(trace): add traceCoreInterface in memblock
  src/main/scala/xiangshan/L2Top.scala
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/XSTile.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
Owners: @linjuanZ, @Ivyfeather

fix(trace): fix itype for branch after writeback
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(trace): fix `ilastsize` & `iretire` for instruction fusion
  src/main/scala/xiangshan/backend/rename/CompressUnit.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
Owners: none

fix(trace): fix `iretire` in rename
  src/main/scala/xiangshan/backend/rename/Rename.scala
Owners: none

feat(ittage): del target and old_target.
  src/main/scala/xiangshan/frontend/ITTAGE.scala
Owners: @chenguokai, @eastonman

feat(ittage): make reformat.
  src/main/scala/xiangshan/frontend/ITTAGE.scala
Owners: @chenguokai, @eastonman

fix(simtop): assert trace enable
  src/test/scala/top/SimTop.scala
Owners: none

fix(trace): decrease TraceGroupNum
  src/main/scala/xiangshan/Parameters.scala
Owners: none

submodule(coupledL2): bump coupledL2
  src/main/scala/xiangshan/L2Top.scala
Owners: @linjuanZ, @Ivyfeather

submodule(coupledL2): bump coupledL2
  src/main/scala/xiangshan/L2Top.scala
Owners: @linjuanZ, @Ivyfeather

prune: (1) reduce fpPreg/vfPreg to 64, (2) remove one LDU, (3) reduce IQ size, (4) reduce VPU resource
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/vector/VMergeBuffer.scala
Owners: @happy-lx, @bosscharlie, @linjuanZ, @cz4e, @good-circle, @weidingliu

prune: (1) remove VPU's Fu and Regfile, remove VecExcpMod (2) reduce Issue/Commit width to 2, set rob bankNum to 2 (3) reduce int IssueBlock by 2, reduce fp IssueBlock by 1
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/exu/ExuBlock.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  ultra_ram.py
Owners: none

prune: (1) reduce LoadUncacheBuffer & DCache parameters
  src/main/scala/top/Configs.scala
Owners: none

prune: L2 MSHR -> 4
  src/main/scala/top/Configs.scala
Owners: none

prune: Remove IMSIC
  src/main/scala/xiangshan/backend/fu/wrapper/CSR.scala
Owners: none

prune: Remove Vec Decode Logic from DecodeUnitComp
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
Owners: none

prune: remove L3 (commit: b200e0e05dcbeee87baa5bddd6e74746286c7890)
  src/main/scala/system/SoC.scala
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/FakeL3.scala
  ultra_ram.py
Owners: none

reduce Snapshot num to 1
  src/main/scala/top/Configs.scala
Owners: none

array_14_ext use ultra_ram
  ultra_ram.py
Owners: none

reduce Fp FU: only keep FEX0 & FEX1
  src/main/scala/xiangshan/Parameters.scala
Owners: none

reduce IntRC & MemRC to 4
  src/main/scala/top/Configs.scala
Owners: none

array_0_1_ext use block ram
  ultra_ram.py
Owners: none

fix(lsu): nuke Load S1 from delayed cross-16B store head
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/pipeline/NewLoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/NewStoreUnit.scala
Owners: @linjuanZ, @cz4e, @good-circle
